[MASTER]
extension-pkg-whitelist=pydantic,ujson
py-version=3.7

[MESSAGES CONTROL]

enable=bad-indentation,line-too-long
disable=missing-module-docstring,too-few-public-methods,fixme


[FORMAT]

indent-string='    '

max-line-length=120
